.box {
	background-color: rgb(142, 187, 201);
	width: 310px;
	height: 310px;
	border-radius: 15px;
	margin-left: 3px;
	text-align: center;
}

.hero {
	background-color: honeydew;
	object-fit: contain;
}

img.heroImage {
    width:200;
    border: 0;
    width: 100%;
    max-width: 700px;
    height: auto;
}

/* Profiles : Begin  */

.avatar {
    height: 200px;
    float: left;
    border-radius: 100px;
    margin: 25px;
}

.avatarName {
    padding-top: 100px;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0px;

}
.profilePic {
    width: 250px;
    border-radius: 125px;
    float: center;
    margin-top: 50px;
    padding: 10px 10px 0px 10px;
}


.CenterProfile {
    text-align: center;
}

.tableProfile{
    align-content: center;
    margin: auto;
    width: 100%;
}

.tableDataProfile {
  border-radius: 3px;
  background: #222222;
  text-align: center;
  width: 100%;
 /* <a href:"http://www.google.com" style:"background: #222222; border: 15px solid #222222; padding: 0 10px;color: #ffffff; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class:"button-a"
                                Get Started */
}

.icon{
text-align: center;
width: 190px;
padding-top: 20%;
}

.iconTable{
width: 100%;
font-size: 14px;
text-align: left;
}

.iconData{
font-family: sans-serif;
font-size: 15px;
line-height: 20px;
color: #555555;
padding-top: 10px;

}

.profileBackground {
 background-color: slategrey;
 text-align: center;
 margin: auto;
 width: 100%;
} 

.bodyProfile{
    background-color: snow;
    height: 100vh; /* Magic here */
    display: inline;
    justify-content: center;
    align-items: center;
 }

 .buttonsTable{
    background-color: #ffffff;
    text-align: center;
    height: 100%;
    vertical-align: top;
    width:100%;
 }

 .a{
    border: 0;
       text-align: center;
        width: 100%;
        max-width:660px;

 }
 .b{
    text-align:center;
     vertical-align:top;
    font-size:0;
    padding: 10px 0;
 }

 .stackColumn{
display:inline-block;
max-width:50%;
margin: 0 -2px;
min-width:200px;
vertical-align:top;
width:100%;     
 }

/* p {
    padding-top: 5px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}



/* Profiles : END */

  /* List : Start */

  .boxList {
    background-image: url('/IMAGES/gradient.jpg');
    background-attachment: fixed;
    width: auto;
    min-width: 500px;
    height: 250px;
    padding-left: 5px;
    border-radius: 10px;
    margin-bottom: 25px;
} 

.textLinkList{
    color:white;
    text-decoration:underline;
    font-weight: bold;
}

.datatableList{
    padding: 40px 10px;
    width: 100%;
    font-size: 12px;
    font-family: sans-serif;
    line-height:18px;
    text-align: center;
    color: #a1a2a5;
}

.tableList {
  height:100%;
  width: 100%;
  max-width: 680px;
  background: rgba(127, 170, 199, 0.349);
}

/* #spaceBlock {
    background-color: white;
	width: auto;
	height: 310px;
	margin-left: 3px;

	text-align: center;

} */
.buttonList {
    background: #219ecf;
    border: 15px solid #219ecf;
    padding: 0 10px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.list {
padding: 10px 10px 10px 10px;
margin: auto;


}

.backgroundList {
    background: url('/IMAGES/background.jpg');
    display: flex;
}


/* List : End */

/* Create New : BEGIN  */

.buttonCreate {
    background: #219ecf;
    border: 15px solid #219ecf;
    padding: 0 10px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    max-width: 30%;
    width: auto;
    min-width: 15%;
    height: 3%;
    padding-left: 5px;
    border-radius: 10px;
    margin-bottom: 25px;
}


 .formTable{
    background-color:aquamarine;
    text-align: center;
    height: 100%;
    vertical-align: top;
    width: 50%;
    margin-bottom: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
    border-radius: 20px;
    padding-top: 20px;

 }



 /* Creat New : END  */